<br />
<strong class="card-title">
  <%= comment.commenter %>
</strong>
<p class="mt-0">
  <%= comment.updated_at.to_formatted_s(:long) %>
</p>

<div class="card p-3">
  <p>
    <%= simple_format(comment.body) %>
  </p>
  <p class="text-right mb-0">
    <%= link_to 'Delete', [comment.article, comment],
                method: :delete,
                data: { confirm: "Are you sure?"}
                                                  %>
  </p>
</div>
