<strong class="card-title">
  <%= comment.commenter %>
</strong>

<div class="card p-3">
  <p>
    <%= comment.body %>
  </p>
  <p class="text-right mb-0">
    <%= link_to 'Delete', [comment.article, comment],
                method: :delete,
                data: { confirm: "Are you sure?"}
                                                  %>
  </p>
</div>
